
body {
  background-color: white;
  padding: 0;
  margin: 0;
}
h1 {
  color: black;
}
p {
  color: black;
  margin-right: 220px;
  padding: 20px;
}

main {
  margin-right: 220px;
  padding: 20px;
}


/* placeholder buttons while waiting on Abeer's*/

button {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:focus {
  outline: 5px solid orangered; 
  color: black;
}


header {    
  background-color: yellowgreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  margin: 0;
  top: 0;
} 

footer {    
  background-color: yellowgreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: yellowgreen;
  color: black;
  padding: 5px;
  width: 20%;
  margin-left: 10px;
  padding-top: 50px;
  padding-left: 20px;
}

