
body {
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}



h1 {
  color: black;
  font-family: 'Karla', sans-serif;
  text-shadow: 0 0 10px #DCE6E8;
}

p {
  color: black;
  margin-right: 200px;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  margin: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}

main {
  margin-right: 200px;
  padding: 20px;
}


/* placeholder buttons while waiting on Abeer's*/

button {
  width: 200px;
  background-color: #0080AA;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Karla', sans-serif;
}

button:focus {
  outline: 5px solid #FFD027; 
  color: black;
}

/*button.trends:focus {
  outline: 5px solid rgb(255, 0, 212); 
  color: black;
}*/

button.trends {
  width: 200px;
  background-color: rgb(0, 17, 255);
  color: rgb(246, 250, 37);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}


header {    
  background-color: #DCE6E8;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
  margin: 0;
  top: 0;
  font-family: 'Karla', sans-serif;
} 

footer {    
  background-color: #DCE6E8;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
  font-family: 'Karla', sans-serif;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #DCE6E8;
  color: black;
  padding: 5px;
  width: 20%;
  padding-top: 50px;
  text-align: center;
  font-family: 'Karla', sans-serif;
}



img {
  width: 50%;
  justify-content: center;
}

img.roundelleft {
  position: absolute;
  height: 50px;
  width: 60px;
  left: 16px;
}

img.roundelright {
  position: absolute;
  height: 50px;
  width: 60px;
  right: 100px;
}

img.roundel {
  height: 80px;
  width: 95px;
}

.left {
  display: block;
  margin-left: 1px;
  width: 25%;
}

figure {
  border: 2px solid #555;
  width: 50%;
  background-color: #DCE6E8;
  font-family: 'Karla', sans-serif;

  text-align: center;
  align-items:center
}

table.trends {
  text-align: left;
  padding-left: 2px;
  width: 90%;
  border-collapse: collapse;
  font-family: 'Karla', sans-serif;
}

td, th {
  width: 30%;
  border: 2px solid #10f8f8;
  text-align: center;
  padding: 20px;
  font-family: 'Karla', sans-serif;
}


tr {
  border: 5px solid #2710f8;
}

img.trendstable {
  width: 300px;
  height: 220px;
  margin-left: 20%;
}

img.trendstable {
  width: 300px;
  height: 220px;
  margin-left: 20%;
}

