
body {
  background-color: hotpink;
}
h1 {
  color: white;
}
p {
  color: purple;
}

/* placeholder buttons while waiting on Abeer's*/

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

:focus {
  outline: none; 
}

header {    
  background-color: teal;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: lightgray;
  color: blue;
}

