
body {
  background-color: #fffce8;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}



h1 {
  color: #3e363f;
  font: 'Open Sans', sans-serif;
  text-shadow: 0 0 10px #f837be;
}

h2 {
  text-shadow: 0 0 10px #d5f839;
}


p {
  color: #3e363f;
  margin-right: 200px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}

main {
  margin-right: 200px;
  padding: 20px;
}


/* placeholder buttons while waiting on Abeer's*/

button {
  width: 200px;
  background-color: #B8B42D;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:focus {
  outline: 5px solid #697A21; 
  color: #3e363f;
}

/*button.trends:focus {
  outline: 5px solid rgb(255, 0, 212); 
  color: black;
}*/

button.trends {
  width: 200px;
  background-color: rgb(0, 17, 255);
  color: rgb(246, 250, 37);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}


header {    
  background-color: #DD403A;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
  margin: 0;
  top: 0;
} 

footer {    
  background-color: #DD403A;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #DD403A;
  color: black;
  padding: 5px;
  width: 20%;
  padding-top: 50px;
  text-align: center;
}



img {
  width: 50%;
  justify-content: center;
}

img.roundelleft {
  position: absolute;
  height: 50px;
  width: 60px;
  left: 16px;
}

img.roundelright {
  position: absolute;
  height: 50px;
  width: 60px;
  right: 100px;
}

img.roundel {
  height: 80px;
  width: 95px;
}

img.taj {
  width: 50%;
}

.left {
  display: block;
  margin-left: 1px;
  width: 25%;
}

figure {
  border: 2px solid #555;
  width: 50%;
  background-color: #fffce8;

  text-align: center;
  align-items:center
}

table.trends {
  text-align: left;
  padding-left: 2px;
  width: 90%;
  border-collapse: collapse;
}

table.trends2 {
  margin-left: 25%;
  margin-right: 30%;
  text-align: center;
  padding-left: 2px;
  width: 40%;
  border-collapse: collapse;
}


table.about {
  width: 90%;
  border: 5px solid #2710f8;
  border-collapse: collapse;
}

table.invisible {
  width: 90%;
  border-collapse: collapse;
}

td.invisible {
  border: 0px;
  border-collapse: collapse;
}



tr.invisible2 {
  border: 0px;
}

img.intable {
  margin-left: 20%;
  margin-right: 20%;
}

img.graph {
  width: 80%;
  margin-left: 10%;
  margin-right: 90%;
}

img.ecohome {
  width: 95%;
  margin-left: 5%;
}

td, th {
  width: 30%;
  border: 2px solid #10f8f8;
  text-align: center;
  padding: 20px;

}


tr {
  border: 5px solid #2710f8;
}

img.trendstable {
  width: 300px;
  height: 220px;
  margin-left: 20%;
}

img.holbornbar {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  width: 80%;
}

