
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: black;
  font: 'Open Sans', sans-serif;
}
p {
  color: black;
  margin-right: 200px;
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
  margin: 250px;
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
}

main {
  margin-right: 200px;
  padding: 20px;
}


/* placeholder buttons while waiting on Abeer's*/

button {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:focus {
  outline: 5px solid orangered; 
  color: black;
}


header {    
  background-color: yellowgreen;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
  margin: 0;
  top: 0;
} 

footer {    
  background-color: yellowgreen;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: black;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: yellowgreen;
  color: black;
  padding: 5px;
  width: 20%;
  margin-left: 10px;
  padding-top: 50px;
  padding-left: 20px;

}

img {
  width: 50%;
  justify-content: center;
}

img.roundelleft {
  position: absolute;
  height: 50px;
  width: 60px;
  left: 16px;
}

img.roundelright {
  position: absolute;
  height: 50px;
  width: 60px;
  right: 100px;
}



