
body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
  color: black;
  font: 'Open Sans', sans-serif;
}
p {
  color: black;
  margin-right: 20px;
  padding: 20px;
}

input, textarea {
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}

#Other-Text {
  display: none;
}

#issue4:checked ~ #Other-Text {
  display: block;
}

input, submit {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 8px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
  align-self: center;
}

main {
  margin-right: 0px;
  padding: 20px;
  width: 75%
}


/* placeholder buttons while waiting on Abeer's*/

button {
  background-color: orange;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}

button:focus {
  outline: 5px solid orangered; 
  color: black;
}


header {    
  background-color: yellowgreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  margin: 0;
  top: 0;
} 

footer {    
  background-color: yellowgreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: yellowgreen;
  color: black;
  padding: 5px;
  width: 20%;
  margin-left: 10px;
  padding-top: 50px;
  padding-left: 20px;

}

