
body {
  background-color: darkblue;
}
h1 {
  color: white;
}
p {
  color: orange;
  margin-right: 220px;
  padding: 20px;
}

main {
  margin-right: 220px;
  padding: 20px;
}


/* placeholder buttons while waiting on Abeer's*/

button {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

button:focus {
  outline: 5px solid orange; 
  color: black;
}


header {    
  background-color: #0057b7;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
} 

aside {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: lightgray;
  color: blue;
  padding: 20px;
  width: 200px;
  margin-left: 10px;
}

